* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("../assets/web/background/color.png");
    background-size: cover;
    background-repeat: repeat-y;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a {
    position: relative;
    margin-right: 20px;
    font-size: large;
    color: white;
    text-decoration: none;
}

.header .navbar img {
    vertical-align: middle;
    margin-right: 20px;
}

.playDemo {
    border: 2px solid white;
    padding: 10px;
    transition-timing-function: ease-out;
    transition: color 1s, background 1s;
}

.playDemo:hover {
    background-color: white;
    color: maroon;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.jumbotronLogo {
    z-index: 10;
    width: 40%;
}

.jumbotron .object {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: center;
}

.latestNewsSection {
    padding: 100px;
}

.latestNewsSection h1 {
    color: white;
    text-decoration: underline;
    text-decoration-color: maroon;
}

.watchTrailerSection {
    margin-top: 56px;
    width: 100%;
    text-align: center;
}

.watchTrailerSection h1 {
    color: white;
    text-decoration: underline;
    text-decoration-color: maroon;
}